<div class="masthead">
    <div class="language-nav"=>
        <ul>
            <li><button><a href="#">CSS</a></button></li>     
            <li><button><a href="#">HTML</a></button></li>  
            <li><button><a href="#">Javascript</a></button></li>  
            <li><button><a href="#">Ruby</a></button></li>
        </ul>
    </div>

    <img src="assets/AA_Times_Logo.png" class="logo">
    <div class="masthead-links">
            <li><time>Tuesday, October 18, 2016</time></li>
            <li>
                <i class="fa-regular fa-newspaper"></i>
                <a href="#">Today’s Paper</a>
            </li>
            <li>
                <i class="fa-solid fa-video"></i>
                <a href="#">Video</a>
            </li>
            <li><button>77°F</button></li>
            <li><button>AAO <strong>+100%</strong><button></li>
    </div>
</div>